<div class="task_new">
  <label for="project_tasks_attributes__name">New Task*</label>
  <input id="project_tasks_attributes__name" name="project[tasks_attributes][][name]" size="30" type="text" />
  <a href="#" class="remove_task_new">Remove</a><br />
</div>

